<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BB DB</title>


<script type="text/javascript" src="{{url_for('static', filename='schema4myjson.js')}}"></script> 

    <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js"></script>
<!--
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
 --><link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

 <style>
.je-header {
    display: inline-block;
    margin-block: 0;
}
.je-indented-panel {
     padding: 0 0 0 5px !important;
     margin: 0 0 0 5px !important;
	 }
 </style>
</head>
<body>
	<form name="form" id="form" method="post">
		  <div class="form-group">
			<table><tr><td>
			<label>Week</label>
			<select name="week"  id="weeks" class="form-control">
			  <option value="" selected="selected"></option>
			  {% for row in weeks %}
			  <option value='{{row.week}}'>{{row.week}}</option>
			  {% endfor %}
			  </select> 
			  </td>
			  <td><label>Day</label><select name="day"  id="days" class="form-control">
			  <option value="" selected="selected"></option>
			  {% for row in days %}
			  <option value='{{row.day}}'>{{row.day}}</option>
			  {% endfor %}
			  </select> </td>
			  <td><label>Hour</label><select name="hour"  id="hours" class="form-control">
			  <option value="" selected="selected"></option>
			  {% for row in hours %}
			  <option value='{{row.hour}}'>{{row.hour}}</option>
			  {% endfor %}
			  </select> </td>
			  <td><button type="submit" class="btn btn-primary">Load</button></td>
			  </tr></table>
		  </div>
		  <div id="show_sub_categories"></div>
		  
	</form>


    <div id='editor_holder'></div>
    <button id='submit'>Submit (console.log)</button>

    <script>
	
	console.log({{curval|tojson|safe}});
      // Initialize the editor with a JSON schema
      var editor = new JSONEditor(document.getElementById('editor_holder'),{
        schema: scheme,
		theme: 'html',
		disable_edit_json: true,
		disable_properties: true,
		disable_collapse: true,
		iconlib: "spectre",
		remove_button_labels: true,	

      });
	  editor.on('ready',(data = {{curval.data|tojson|safe}}) => {
	  console.log("ready");
	  editor.setValue(data);
	  });
      //editor.defaults.options.inputAttributes = {"style":"width: 30px"};
      // Hook up the submit button to log to the console
      document.getElementById('submit').addEventListener('click',function() {
        // Get the value from the editor
        console.log(editor.getValue());
      });
    </script>
	<script>
	// Text formatting
	$(document).ready(function(){
	$("#editor_holder").on("input", "[name='root[psalms][0][psalm][0][text]']", function(e) {
		//replace /r/n with <br />
		$(this).val($(this).val().replace(/(\r\n|\r|\n)/g, '<br /> '));
		//remove * and †
		$(this).val($(this).val().replace(/( \*)|( \†)/g, ''));
	});
	//reading /r/n to br
	$("#editor_holder").on("input", "[name='root[reading][0][text]']", function(e) {
		$(this).val($(this).val().replace(/(\r\n|\r|\n)/g, '<br /> '));
	  });
	
	$("input").each(function(){
	   //does some stuff;
		var value = $(this).val().length*7;
		$(this).css('width',value);
		console.log("hey");
	});
	
	
  
  
	});
	</script>
    <!--
                    {% for row in employee %}
                    <tr><td>week</td><td>{{row.week}}</td></tr>
                        <tr><td>day</td><td>{{row.day}}</td></tr>
                        <tr><td>hour</td><td>{{row.hour}}</td></tr>
						<tr><td>ant_1</td><td>{{row.ant_1}}</td></tr>
                        <tr><td>ant_2</td><td>{{row.ant_2}}</td></tr>
                        <tr><td>ant_3</td><td>{{row.ant_3}}</td></tr>
						<tr><td>ps_1</td><td>{{row.ps_1}}</td></tr>
                        <tr><td>ps_2</td><td>{{row.ps_2}}</td></tr>
                        <tr><td>ps_3</td><td>{{row.ps_3}}</td></tr>
                        <tr><td>resp</td><td>{{row.response}}</td></tr>
                        <tr><td>cant</td><td>{{row.canticle_ant}}</td></tr>
						<tr><td>int</td><td>{{row.intercessions}}</td></tr>
                        <tr><td>prayer</td><td>{{row.prayer}}</td></tr>
                        <tr><td>hymn</td><td>{{row.hymn}}</td></tr>
						<tr><td>read</td><td>{{row.reading}}</td></tr>
                        <tr><td>inv</td><td>{{row.invitatory}}</td></tr>
                        <tr><td>edit</td><td>
                            <a class="add" title="Add" data-toggle="tooltip" id="{{row.id}}"><i class="fa fa-user-plus"></i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip" id="{{row.id}}"><i class="fa fa-pencil"></i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip" id="{{row.id}}"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>   
                    {% endfor %}     
					-->
     
</body>
</html>